*{
    box-sizing: border-box;
}
body{
    margin:0;
    border:0;
    background-color: white;
    overflow-x: hidden;
}

.hero-bg{
    display:flex;
    justify-content: space-around;
    box-shadow: 0px 4px 10px 3px rgba(0, 119, 182, 0.06);
}

.logo{
margin:1.45em;
width:50%
}
.nav{
     margin:2em;
     text-decoration:none;
     color:#4A4A4A;
}

.btn1{
    color:#4A4A4A;
    border: 1px solid #4C982A;
    padding:0.45rem 1.25rem;
    border-radius:5px;
}


.btn{
    margin:2em;
    background-color:#4C982A;
    color:white;
    border:none;
    padding:0.45rem 1rem;
    border-radius:5px;
}


.about{
    display:flex;
    margin-top:4em;
    justify-content: space-around;
}

.secure{
    max-width: 13em;
    color:#4C982A;
}
.secure-p{
 max-width:35em;
 color:#4A4A4A;
 font-size:1.05rem;
}
.btn2{
    background-color:#4C982A;
    color:white;
    border:none;
    padding:0.45rem 1.40rem;
    border-radius:5px;
}

.b-bg{
    background:linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74));
    padding: 4em;
}

.h-bg{
    color:white;
    text-align: center;
    font-size: 1.85rem;
    font-weight: bold;
}
.p-bg{
    color:white;
    text-align: center;
    font-size: 1.15rem;

}

.h-wg{
    text-align:center;
   color:#4C982A;
   font-size:1.80rem;
   margin-top:3em;

}

.p-wg{
  text-align:center;
   color:#4A4A4A; 
   font-size:1.05rem;
}
.details-container{
        display:flex;
        justify-content:space-between;
        margin:2em;
    }
    
    .container{
    padding:3em;
    }

    .h-details, .details{
        color:#4A4A4A;  
        font-size:1.05rem;
    }
    .h-details{
        font-size:1.15rem;
    }

    .steps{
        background-color: #FCFCFC;
        padding:2em;
    }
    h4{
        color:#4A4A4A;
       
    }

    .blue{
        color:#4C982A;  
        max-width:35em; 
    }
    .htag,.span{
      
        font-size:1.80rem;
        text-align: center;
    }

.steps-details{
    display:flex;
    justify-content:space-around;   
}

.p-steps{
    max-width: 40em;
    font-size:1.05rem;
    color:#4A4A4A;
}

.h-steps{
    font-size:1.15rem;
    color:#4C982A;
}


.footer{
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74)),url(Images/Voting.svg);
     background-size: cover;
     min-height: 15rem;     
   }
   .footer1{
       margin:2em 1em 1em;
       color:white;
           
       .votestamp{
    margin-top:1em;
}

  
  
   /*styling login screen*/
    .container1{
       display:flex;
       justify-content: space-between;
       width:70%;
       margin: 3em auto;
       box-shadow: 10px 10px 10px 10px rgba(28, 197, 22, 0.06);
       padding: 6em 7em;
       width:65vw;
       height:80vh;

   }

   input[type=text] {
    padding: 0.75em 3em;
    border: 1px solid #4C982A; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 0.5em;
    margin-bottom: 1em;   
  }

  .tiny{
      font-size: 0.80em;
  }

  .btn4{
    background-color:#4C982A;
    color:white;
    border:none;
    padding:0.75rem 6.25rem;
    border-radius:5px;
    margin-top:3em;
    font-size:1em;
}

.right{
    color:#4C982A; 
}

    .casting{
      width:55%;
    }
    

/* styling register screen*/

.container2{
    box-shadow: 10px 10px 10px 10px rgba(28, 197, 22, 0.06);
   width:50vw;
   height:90vh;
   display:flex;
   justify-content: center;
    margin:2em auto;
    padding:5em 1em;
  
    margin:2em auto;
}



  

@media only screen and (max-width: 768px) and (min-width: 481px){
   body{
       overflow-x: hidden;
   } 
   
    
    .container1{
        flex-direction: column;
        overflow-x: hidden;
        width:90vw;
        height:95vh;
        padding:1em 3em;
        margin-top:1em
        }

        .right{
           text-align: center;
           font-size: 1.55em;
        }
        
        
 .casting{
     width:50%;
     margin: 1em 0 0 7em;
 }


 input[type=text] {
    padding: 1.55em 10em;
    border: 1px solid #4C982A; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin: 0 0 1em 5em;   
  }

  label{
    margin: 0 0 1em 4.55em;   
}
  .btn4{
    padding:1.50rem 12rem;
    margin: 3em 0 1em 4.45em;   
   }

.container2{
    width:90vw;
}

.nav{
    font-size:1rem;
}
.headnav{
   margin-top:1.55em;
}    

.btn1{
   padding:0.35em 1.15em;
   font-size:0.85rem;
   
}


.btn{
   padding:0.35em 1.15em;
   font-size:0.85rem;
   
}


.about{
   display:flex;
   flex-direction:column-reverse;
   margin:2em;

}

.voters{
   width:80vw;


}

.secure{
   color:#4C982A;
   font-size:1.25rem;
   text-align: center;
   max-width:none;
}
.secure-p{
font-size:1rem;
margin-left:4em;
}

.btn2{
   padding:0.60em 1.55em;
   font-size:0.75rem;
   margin: auto ;
   display:block;
}

.b-bg{
   background:linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74));
   padding: 1em 0 1em 0;
}

.h-bg{
   text-align: center;
   font-size:1.25rem;
   margin:1em;
}
.p-bg{
   color:white;
   text-align: center;
   font-size:1rem;
   margin:1em;

}


.h-wg{
   text-align:center;
  color:#4C982A;
  font-size:1.25rem;
  margin-top:1.55em;

}

.p-wg{
 text-align:center;
  color:#4A4A4A; 
  font-size:1rem;
  margin:2em;
}
.details-container{
       display:flex;
       justify-content:space-between;
       margin:1rem;
       flex-direction: column;
   }
   
   .container{
   padding:1em;
   }

   .h-details, .details{
       color:#4A4A4A;  
       font-size:1rem;
   }
   .h-details{
       font-size:1.15rem;
       text-align: center;
   }

   .image-svg{
       display:block;
       margin:auto;
      
   }

   .steps{
       background-color: #FCFCFC;
       padding:2em;

   }
   h4{
       color:#4A4A4A;
      
   }

   .blue{
       color:#4C982A;  
       max-width:35em; 
   }
   .htag,.span{
     
       font-size:1.15rem;
       text-align: center;
   }

   .img-steps{
       width:70%;
       display:block;
       margin:auto;
   }

.steps-details{
   display:flex;
   justify-content:space-around; 
   flex-direction: column; 
   margin-top:1.75em; 
}

.p-steps{
   max-width: 45em;
   font-size:0.90rem;
   color:#4A4A4A;
   margin:1em;
}

.h-steps{
   font-size:1.15rem;
   color:#4C982A;
    margin:1em;
}


.footer{
   display:flex;
   justify-content: space-around;
   background-image: linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74)),url(Images/Voting.svg);
    background-size: cover;
    min-height: 15rem;     
  }
  .logo1{
      width:60%;
      margin:1em;
     
  }
  .footer1{
      margin:2em 1em 1em;
      color:white;
      font-size:0.90rem;
          
  }
 
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    body{
       overflow-x: hidden;
   } 
   
    .container1{
        flex-direction: column;
        margin-top:1em;
        width:90vw;
        height:90vh;
        padding:1em 3em 2em 2.85em;
        overflow-x: hidden;
        }

 .casting{
   margin: 0.35em 0 0 2.45em;
   }
  
.btn4{
   
   margin-top:1em;
}
.container2{
    width:90vw;
}

    .hero-bg{
        width: 100vw;
        padding-top :0.40em;
        display:block;
    }
    
    .logo{
    width:15%;
        }

    .nav{
         font-size:0.90rem;
    }
    .headnav{
        margin-left:2.55em;
    }    
    
    .btn1{
        padding:0.35em 1.15em;
        font-size:0.85rem;
        
    }
    
    
    .btn{
        padding:0.35em 1.15em;
        font-size:0.85rem;
        
    }
    
    
    .about{
        display:flex;
        flex-direction:column-reverse;
        margin:2em;
    
    }
    
    .voters{
        width:90vw;
        margin:1em
    }
    
    .secure{
        color:#4C982A;
        font-size:1.15rem;
        text-align: center;
        max-width:none;
    }
    .secure-p{
     font-size:0.90rem;
     text-align: center;
    }

    .btn2{
        padding:0.60em 2em;
        font-size:0.75rem;
        display:block;
        margin:auto;
    }
    
    .b-bg{
        background:linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74));
    
    }
    
    .h-bg{
        text-align: center;
        font-size:1.15rem;
        margin:1em;
    }
    .p-bg{
        color:white;
        text-align: center;
        font-size:0.90rem;
        margin:1em;
    
    }
    

    .h-wg{
        text-align:center;
       color:#4C982A;
       font-size:1.15rem;
       margin-top:1.55em;
    
    }
    
    .p-wg{
      text-align:center;
       color:#4A4A4A; 
       font-size:0.90rem;
       margin:1em;
    }
    .details-container{
            display:flex;
            justify-content:space-between;
            margin:0.90rem;
            flex-direction: column;
        }
        
        .container{
        padding:1em;
        }
    
        .h-details, .details{
            color:#4A4A4A;  
            font-size:0.90rem;
        }
        .h-details{
            font-size:1.15rem;
            text-align: center;
        }

        .image-svg{
           display:block;
           margin:auto;
            
        }
    
        .steps{
            background-color: #FCFCFC;
            padding:2em;

        }
        h4{
            color:#4A4A4A;
           
        }
    
        .blue{
            color:#4C982A;  
            max-width:35em; 
        }
        .htag,.span{
          
            font-size:1.15rem;
            text-align: center;
        }

        .img-steps{
            width:70%;
             display:block;
             margin:auto;
        }
    
    .steps-details{
        display:flex;
        justify-content:space-around; 
        flex-direction: column;  
    }
    
    .p-steps{
        max-width: 40em;
        font-size:0.90rem;
        color:#4A4A4A;
    }
    
    .h-steps{
        font-size:1.15rem;
        color:#4C982A;
    }
    
    
    .footer{
        display:flex;
        justify-content: space-around;
        background-image: linear-gradient(rgba(60, 187, 124, 0.973), rgba(23, 146, 74, 0.74)),url(Images/Voting.svg);
         background-size: cover;
         min-height: 15rem;     
       }
       .logo1{
           width:60%;
           margin:1em;
          
       }
       .footer1{
           margin:2em 1em 1em;
           color:white;
           font-size:0.90rem;
               
       }
      
}
